<!doctype html>
<html>
  <head>
    <%- head.base.toString() %>
    <%- head.title.toString() %>
    <%- head.meta.toString() %>
    <%- head.link.toString() %>
    <%- head.script.toString() %>

    <% if (isProduction) {%>
       <link rel='stylesheet' href="<%= assetsManifest['/app.css'] %>" />
    <% } %>

    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'/>
    <link rel="shortcut icon" href="" type="image/png" />
  </head>
  <body>
    <div id="root"><%- initialView %></div>
    <script>
      window.__INITIAL_STATE__ = <%- JSON.stringify(initialState).replace(/</g, '\\u003c') %>;
      <% if (isProduction) {%>
        window.webpackManifest = <%- JSON.stringify(chunkManifest).replace(/</g, '\\u003c') %>;
      <% } %>
    </script>
    <% if (isProduction) {%>
      <script src="<%= assetsManifest['/vendor.js'] %>"></script>
      <script src="<%= assetsManifest['/app.js'] %>"></script>
    <% } else {%>
      <script src="/vendor.js"></script>
      <script src="/app.js"></script>
    <% } %>
  </body>
</html>
